@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin abscenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media Query Manager 

/*
0 - 600px:        Phone
600 - 900px:      Tablet portrait
900 - 1200px:     Tablet landscape
[1200 - 1800]:    is where our normal styles apply
1800px + :        Big Desktop

$breakingpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

we need to use em instead of pixels because if we use pixels and the user changed 
the font size in the browser the media queries will not be affected, however we want them to be affected so we use em. 
we use ems instead of rems because it has been tested to be better
and we need to re-define them here because they don't work in te root parent (html)

ORDER of applying mixins: base + typography --> general layour (header + footer ...) + grid --> page layout --> components

1em=16px

*/

@mixin respond ($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content};    // for 600px: 37.5em=600/16
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {@content};   // for 900px: 56.25em=900/16
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {@content};      // for 1200px: 75em=1200/16
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {@content};   // for 1800px: 112.5em=1800/16
    }

    // the only screen protects the page to be printed
}