.story {
    width: 75%;
    margin: 0 auto; /* in order to center it, since it is a block element inside a block element
    0 is for te top and bottom, and auto is for the left and right, so it will not have space between it
    and the above element (the title) but the left and right will be auto which will be centered and 
    as wide as the value 75% that we put above */
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6); // we used rgba to specify the oppacity
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size; // the font size of the paragraph
    transform: skewX(-12deg); // to give the rectangular shape of the story box

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%); // to make shape-outside work in safari web browser
        shape-outside: circle(50% at 50% 50%); /* this property MUST HAVE a WIDTH, HEIGHT, and it must be FLOATED 
        for it to work, it is used to make the text sheped around flow around a circle shape of the image,
        the first 50% is the radius length (50% of 15rem is 7.5 rem)  */
        -webkit-clip-path: circle(50% at 50% 50%); // to make the clip path work with other browsers
        clip-path: circle(50% at 50% 50%); // used to create the circle shape of the image
        transform: translateX(-3rem) skewX(12deg); /* used to add space between the circle and the paragraph, it is better 
        to use transform with the floated elements rather than margin */

        /* the skewX he is used to negate the effect of skewX applied on the shape that contains the image on
        the "story" section*/

        position: relative; // we used this for the position absolute of the caption section below, it is an anchor parent
    }

    &__img {
        height: 100%; // this will fit the image inside the circle shape we created above
        transform: translateX(-4rem) scale(1.4); // move the image a bit to the left to make it in the center
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg); /* the skewX he is used to negate the effect of skewX applied on the text by the "story" section*/
    }

    &__caption {
        position: absolute; // this is used to put the caption on top of the circle shape that holds the image
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%); // this is used to set the position before hovering on the story section
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0; // the caption needs to be invisible before hovering on te story section
        transition: all .5s; // we use this to smoth the translate of we used in the hover section
        backface-visibility: hidden; // to remove the small shaking after the hover effect
    }

    &:hover &__caption { // we an effect to the caption when we hover
        opacity: 1; // make the caption visible
        transform: translate(-50%, -50%); // the coordinates of the caption
    }

    &:hover &__img { // this is used to add the zoom and blur effect on the image
        transform: translateX(-4rem) scale(1); // lower the scale of the image
        filter: blur(3px) brightness(80%); /* add the blur and brightness, for the brihtness 
        values that are lower than 100% makes it darker and values above 100% makes it brighter*/
    }
}