*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    //this define what 1 rem is 10px, in order to make the entire layout of the web page dependent on the font size
    font-size: 62.5%; // 10/16 = 0.625 = 62.5%, if we use a value in pixel (e.g 10px) then the user will not be able to zoom in if he had bad vision

    @include respond(tab-land) { // asks if the width < 1200?
        font-size: 56.25%; // we want 1 rem = 9px ---> 9/16 = 56.25%
    } 

    @include respond(tab-port) { // asks if the width < 900?
        font-size: 50%; // we want 1 rem = 8px ---> 8/16 = 50%
    }
    /* the order of the these media queries is important because if we have a screen with width 700px width for example
    then both media queries of tab-land and tab-port will be applied in this case the tab-port will be applied since its the last declaration;
    and that is the one we want because it is closer to the 700px, if the order was reversed (meaning tab-port --> tab-land)
    then the tab-land will be applied since it is last and that will mess up the code
    If we started with mobile web site first then we wanted to move to desktop, then we would use the min-width 
    and the order will be reverserd (meaning tab-port --> tab-land)*/


    //Note: the order to put the media queries: always the larger ones before the smaller ones

    @include respond(big-desktop) {
        font-size: 75%; // we want 1 rem = 12px ---> 12/16 = 80%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) { 
        padding: 0; // delete the padding for tablet portrait screens
    }
}


// specific style when selecting a paragraph or a word
::selection {
    background-color: $color-primary;
    color: $color-white;
}