.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    // remove some of the white space in the tab port screen in the about section
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url(../img/nat-4.jpg);
    background-color: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

    // remove some of the white space in the tab port screen in the feature section
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    // remove some of the white space in the tab port screen in the tours section
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    // remove some of the white space in the tab port screen in the stories section
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

     // remove some of the white space in the tab port screen in the booking section
     @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, 
                                      rgba($color-white, .9) 0%,
                                      rgba($color-white, .9) 50%, 
                                      transparent 50%), 
                                      url(../img/nat-10.jpg); /* this will inset the image and fuse it with
                                      linear gradient with the with the white shape, with the tilted line in the middle
                                      created by the "105deg value", the first half will be the transparent color with
                                      oppacity .9 and stops at 50% and the second is the color transparent and starts
                                      at 50% */
    background-size: 100%;// to set te image to the entire book section background
    border-radius: 3px;
    box-shadow: 0 .15rem 4rem rgba($color-primary-dark, 0.2);


    // adjust the booking section for the tablet landscape screens
    @include respond (tab-land){
        background-image: linear-gradient(105deg, 
                                      rgba($color-white, .9) 0%,
                                      rgba($color-white, .9) 65%, 
                                      transparent 65%), 
                                      url(../img/nat-10.jpg); 

        background-size: cover; // the picutre cover the entire element

    }

    // adjust the booking section for the tablet portrait screens
    @include respond(tab-port){
        background-image: linear-gradient(to right, 
                                      rgba($color-white, .9) 0%,
                                      rgba($color-white, .9) 100%), 
                                      url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        // adjust the booking section for the tablet landscape screens
        @include respond(tab-land){
            width: 65%;
        }

        // adjust the booking section for the tablet portrait screens
        @include respond(tab-land){
            width: 100%;
        }
    }
}